/**
*
* _content
*
**/
@media screen and (min-width: 768px){
	.content-area{
		float: right;
		margin-right: 0;
		margin-left: 4.347826087%;
	}
	.widget-area{
		float: left;
	}

}
body {
  background-color: #FFFFFF;
}

.modalProduct{ 
	min-height: 200px; 
	max-height: none; 
	height: 100%; 
	padding: 40px;
	background: rgb(255, 255, 255);
	width: 600px;
	border: 1px solid #ddd; 
	display:none
}

a {
  color: #11cb9a;
  }

.modalProduct element.style {
  width: none;
  height: none;
}


.columna25{
	width: 24%;
	display: inline-block;

}
