/**
*
* _content
*
**/
@media screen and (min-width: 768px)
{
    .content-area
    {
        float: right;

        margin-right: 0;
        margin-left: 4.347826087%;
    }
    .widget-area
    {
        float: left;
    }
}
body
{
    background-color: #fff;
}
/*--------------------------MODAL----------------------------------*/

.modalProduct
{
    display: none;

    width: 600px;
    height: 100%;
    min-height: 200px;
    max-height: none;
    padding: 0;

    border: 1px solid #ddd;
    background: rgb(255, 255, 255);
    h3
    {
        font-size: 16px;

        padding: 20px 0 15px 0;

        border-bottom: 4px solid #ccc;
    }
    .columna45
    {
        display: table-cell;

        width: 45%;
        padding: 15px 60px 15px 0;

        vertical-align: top;
    }
    img
    {
        margin: 20px 20px 20px 20px;
        padding: 20px 30px 20px;
    }
    .button
    {
        margin: 20px 0;
    }
}
.ui-dialog-titlebar-close
{
    position: absolute;
    top: 10px;
    right: 14px;

    padding: 5px 10px 7px 10px;
}
.ui-dialog-titlebar
{
    font-size: 20px;

    padding: 10px 10px 10px;

    color: #000;
    background-color: rgb(240, 239, 239);
}

a
{
    color: #11cb9a;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button,
.added_to_cart .added_to_cart
{
    border-color: #11cb9a;
    background-color: #11cba5;
}
.button:focus,
.added_to_cart:focus
{
    outline: none;
}
.ui-widget-overlay
{
    position: fixed;
    z-index: 1000;
    top: 0;

    display: block;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);
}

.ui-dialog
{
    z-index: 1010;
}

/*------------- PAGE Anzug designen -------------------*/
.columna25
{
    display: table-cell;

    width: 24%;

    vertical-align: middle;
}

.designenImag
{
    padding: 10px 70px 10px;
}
.designenImag:hover
{
    img
    {
        border: 5px solid #a6a8a7;
    }
}

.designentext
{
    padding: 10px 10px 10px;
}

.hentry .entry-header h1
{
    margin-bottom: 3px;
    padding-bottom: 0;

    border-bottom: 0;
}

// Product page

.single-product
{
    .widget-area
    {
        display: none;
    }
}

@media screen and (min-width: 768px)
{
    body.single-product
    {
        .widget-area
        {
            display: none;
        }
        .content-area
        {
            width: 100%;
        }
        div.product .images
        {
            float: right !important;

            width: 31.1764705882% ;
            margin-right: 0 !important;
            margin-left: 5.8823529412% ;
        }
        div.product .summary
        {
            width: 62.9411764706%;
        }
    }
}

.diseno_traje
{
    display: table-cell;

    width: 70%;

    vertical-align: top;
    img
    {
        width: 100%;
    }
}

.diseno_atributos
{
    display: table-cell;

    width: 28%;

    vertical-align: top;
    img,
    img.ui.rounded.image
    {
        display: inline-block;

        margin: 0 0 5px;

        border-radius: 0;
    }
    .woocommerce-main-image
    {
        display: block;

        margin-bottom: 0 !important;
    }
}

.single-product  div.product  .images > .woocommerce-main-image
{
    display: none !important;
}

.products
{
    .product-description-custom
    {
        display: none;
    }
}

.hentry
{
    border-bottom: none;
}



/*---------------PAGINA PARA SOLICITAR UNA CITA-----------------------*/

/*---------------------Formulario-------------------------------------*/
.form_column
{
    display: table-cell;

    width: 33.333%;

    vertical-align: top;
    label
    {
        display: block;

        width: 95%;
        padding: 5px 10px;

        color: white;
        border: 1px solid #d1d3d4;
        background-color: #000;
    }
}

.table
{
    margin: 5px 0 1.618em;
    padding: 20px;
    td
    {
        padding: 1.29em 1.387em;
    }
}
.table .table-titule
{
    font-weight: bold;

    padding: 15px;

    text-align: center;

    color: #fff;
    background-color: #000;
}




/*---------------------Calendar--------------------------------------*/

.date__calendar
{
    table thead th,
    table td,
    table th
    {
        padding: 10px;
    }
    a{
        color: #60646c;
        padding: 9px; 
    }
    table td {
         padding: 10px 5px;
     }
}

//.date__calendar table td {
  //  padding: 10px 5px;
//))}

.date__input
{
    display: none;
}
.ui-datepicker-title
{
    font-weight: bold;

    padding: 10px 20px 20px 20px;

    background-color: #000;
}

.ui-datepicker-month,
.ui-datepicker-year
{
    padding: 10px;

    color: #fff;
}

.ui-datepicker-prev
{
    float: right;

    padding: 10px 20px 20px 20px;
}

.ui-datepicker-next
{
    float: right;

    padding: 10px;
}

.ui-state-active{
    border: 1px solid #11cb9a;
    background-color: #11cb9a;
}

/*-------------------------------------------------------------------*/



/*---------------------responsive design----------------------------*/

@media screen and (max-width: 640px)
{
    .columna25
    {
        display: block;

        width: 100%;
    }


    .form_column
    {
        display: block;

        width: 100%;
    }
}
