/**
*
* header styles
*
**/
.site-header
{
    padding: 110px 0 15px;

    background-color: #fff;

    border-bottom: 1px solid #ddd;
      margin-bottom: 30px;
}

.woocommerce-active .site-header .main-navigation
{
    float: right;
	width: 72.9130434783%;
    margin-right: .347826087%;
    padding-top: 1px;
}

.custom_logo
{
    float: left;

    width: 20%;
}

.woocommerce-active .site-header .main-navigation
{
    clear: none;
}


@media screen and (min-width: 768px)
{
    .woocommerce-active .site-header .secondary-navigation
    {
        float: right ;

        margin-right: 0;
    }

    .site-branding,
    .site-search,
    .site-header-cart,
    .site-logo-anchor
    {
        margin-bottom: 0;
    }
}


/*---------------------responsive design------------------*/
@media screen and (max-width: 640px){

.site-header {
  padding: 0px;
  margin-bottom: 0px; 
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .button:focus, .added_to_cart:focus {
  outline: 2px solid #EAF0EF;
}

}
