/**
*
* _navigation
*
**/
.menu_top
{
    background-color: #000;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    .col-full
    {
        max-width: 80.141em;
        margin-right: auto;
        margin-left: auto;
    }
    a
    {
        color: #d2d3d7;
    }
    ul.menu
    {
        display: inline-block;
        float: right;
    }
    .main-navigation
    {
        padding-top: 0;
    }
    .main-navigation ul.menu > li > a
    {
        font-size: 13px;
        font-weight: 600;

        padding: 1em;

        color: white;
    }
    ul li
    {
        display: table-cell;

        text-align: right;
        vertical-align: middle;

        border-left: 1px;
    }
    .site-header-cart .cart-contents
    {
        padding: 20px 40px 20px;
    }
    .site-header-cart .cart-contents:after
    {
        line-height: 66px;

        right: 19px;
    }
    .secondary-navigation .menu a
    {
        font-weight: 400;

        padding: 19px 20px 10px;

        color: #d2d3d7;
    }
}


.secondary-navigation
{
    margin: 0;
}

.main-navigation a
{
    color: #000;
}

.primary-navigation
{
    ul.menu li.current-menu-item > a
    {
        padding-bottom: 2px;

        color: #000;
        border-bottom: 3px solid #11cb9a;
    }
}
.main-navigation ul li a:hover
{
    color: #11cb9a;
}

.main-navigation ul,
.secondary-navigation ul
{
    padding: 10px 0 10px;
}
a:focus
{
    outline: 0;
}

.col-full {
  max-width: 74.141em;
  margin-left: auto;
  margin-right: auto;
}
