/**
*
* _navigation
*
**/
.menu_top
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;

    background-color: #000;
    .col-full
    {
        max-width: 80.141em;
        margin-right: auto;
        margin-left: auto;
    }
    a
    {
        color: #d2d3d7;
    }
    ul.menu
    {
        display: inline-block;
        float: right;
    }
    .main-navigation
    {
        padding-top: 0;
    }
    .main-navigation ul.menu > li > a
    {
        font-size: 12px;
        font-weight: 600;

        padding: 1em;

        color: white;
    }
    ul li
    {
        display: table-cell;

        text-align: right;
        vertical-align: middle;

        border-left: 1px;

        text-align: left;
    }
    .site-header-cart .cart-contents
    {
        padding: 20px 40px 20px;
    }
    .site-header-cart .cart-contents:after
    {
        line-height: 66px;

        right: 19px;
    }
    .secondary-navigation .menu a
    {
        font-weight: 400;

        padding: 19px 20px 10px;

        color: #d2d3d7;
    }
.button{
      border-color: #11cb9a;
  background-color: #11cba5;
  margin: 10px;
}
}


.secondary-navigation
{
    margin: 0;
}

.main-navigation a
{
    color: #000;
}

.primary-navigation
{
    ul.menu li.current-menu-item > a
    {
        padding-bottom: 2px;
        color: #000;
        border-bottom: 3px solid #11cb9a;
    }
}
.main-navigation ul li a:hover
{
    color: #11cb9a;
}

.main-navigation ul
{
    padding: 11px 34px 8px;
}
.main-navigation ul.menu > li > a
{
    padding: 0 10px 40px;
}


.secondary-navigation ul
{
    padding: 10px 10px 10px;
}

a:focus
{
    outline: 0;
}

.col-full
{
    max-width: 74.141em;
    margin-right: auto;
    margin-left: auto;
}


/*---------------------responsive design------------------*/
@media screen and (max-width: 640px)
{
    .woocommerce-active .site-header .main-navigation
    {
        float: none;

        width: 100%;
    }
    .menu_top
    {
        display: none;
    }
    .main-navigation{
        button
        {
            padding: 17px;

            border-color: #11cb9a;
            background-color: #000;
        }
   }
    .nof_logo{
        padding:30px 40px 0px;

    }

}
